ul a { 
    text-decoration: none;
    color: black;
}
ul a:hover { 
    background-color: gainsboro;
    padding: 5px 7px 10px 7px;
    border-radius: 5px;
    font-size: 20px;
    
}
.col-md-2 { 
    border-right: 1px solid gainsboro;
}
.col-md-10 { 
    padding: 0 48px;
}