

#subtitle{
    font-size: 24px;
}
form{
    line-height: 3px;
}
#banner{
    background-image: url(images/beautiful-african-american-doctor-white.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}